# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache/
.pytest_cache/

# IDEs and editors
*.swp
.idea/
.vscode/
.DS_Store

# Local environment
.env
*.log
